# Ignore virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

*.onnx
*.pt
*.pkl

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore any sensitive or local config files
*.env
__pycache__/
*.bin
*.pt
*.ckpt

# Python artifacts
*.pyc
*.pyo
*.pyd
*.log

# Envs
.env
venv/
