# Ignore virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# Ignore vector DB
vector_db/
*.onnx
*.pt
*.pkl

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore any sensitive or local config files
*.env
